extends layout

block content
    div(class = 'container')
        div
            h1(style = 'text-align: center') Images gallery!
            p(style = 'text-align: center') Choose images to apply SEPIA EFFECT.
            p(style = 'text-align: center') Then click on "Apply sepia" button to get sepia-ed pictures!
            p(style = 'text-align: center') (Max. 10 pictures can be selected. If more is chosen, first 10 will be taken!)
        div
            button.btn.btn-default(type='submit', onclick="location.href='/';") Back
            button.btn.btn-default.button-apply(type='submit', onclick="#{sendImageForSepia('piotr.pawlak/predkosc-zabija.jpg')}") Apply sepia
            br
            br
            - var count = 1
        each val in imagesList
            div(class = 'divClass')
                - var imageKey = val.split("/pawlak-aws-project/")[1];
                img(id=imageKey, src = val)
                label
                    input.checkbox-class(id=imageKey, type='checkbox', checked=(true===false ? "checked" : undefined), onclick="#{toggleCheckBox(this)}")
                - count++

    div(class = 'container')
        button.btn.btn-default(type='submit', onclick="location.href='/';") Back
        button.btn.btn-default.button-apply(type='submit', onclick="#{sendImageForSepia('piotr.pawlak/predkosc-zabija.jpg')}") Apply sepia
        
    br
    br
    
    
    style.
        .checkbox-class
        {
            width:30px;
            height:30px;
            border-style: double;
            border-width: 5px;
            border-color: blue;
            position: relative;
        }
        .button-apply
        {
            position: absolute;
            margin-left: -50px;
            left: 50%;
        }